{% extends "base.html" %}

{% block content %}

<header>
    <a href="{{ url_for('homepage') }}"><h1>Customer Insight AI</h1></a>
    <nav>
        <a href="#services">Services</a> |
        <a href="#about">About</a> |
        <a href="{{ url_for('sign_out') }}">Logout</a>
    </nav>
</header>

<div class="card">
    <h1>Verification Code</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form name="verify_otp_form" method="POST" action="{{ url_for('two_factor_authentication') }}">
        <label for="otp">OTP</label>
        <input type="text" name="otp" class="field" required>

        <input type="submit" value="Verify" class="btn">
    </form>
</div>

<footer>
    <p>Copyright &copy; 2024 All Rights Reserved. By Customer Insight AI</p>
</footer>

{% endblock %}